{
  "extends": [
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "class-methods-use-this": "off",
    "@typescript-eslint/quotes": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off"
  }
}
